body {
    font-family: verdana,arial,sans-serif;
    font-size: 11px;
    line-height: normal;
}
td,th {
    font-family: verdana,arial,sans-serif;
    font-size: 11px;
    line-height: normal;
}
.button{
	padding: 3px 10px;
	border: 1px solid #D2D2D2;
	color: #000;
	background-color: #D2D2D2;

}
a.button{ text-decoration: none;}
table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}
.noborder{border: 0px;}
.blue_head{background-color: #889FF3; color: #FFF;}